<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monotree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Monotree.Properties.Settings>
            <setting name="ProviderName" serializeAs="String">
                <value>System.Data.Odbc</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Driver=SQLite3 ODBC Driver;Database=</value>
            </setting>
            <setting name="RevisionBgColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ff4682b4</string>
                        <string>ff8fbc8f</string>
                        <string>ffdc143c</string>
                        <string>ffb8860b</string>
                        <string>ffee82ee</string>
                        <string>ffbdb76b</string>
                        <string>ffffa500</string>
                        <string>ff87cefa</string>
                        <string>ffadff2f</string>
                        <string>ffcd853f</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ToLocalTime" serializeAs="String">
                <value>True</value>
            </setting>
        </Monotree.Properties.Settings>
    </userSettings>
</configuration>